altgraph==0.17.5
asgiref==3.11.1
bcrypt==5.0.0
charset-normalizer==3.4.7
colorama==0.4.6
crispy-bootstrap5==2026.3
Django==6.0.6
django-crispy-forms==2.6
et_xmlfile==2.0.0
greenlet==3.5.3
numpy==2.5.1
openpyxl==3.1.5
packaging==26.2
pandas==3.0.3
pefile==2024.8.26
pillow==12.3.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pywin32-ctypes==0.2.3
qrcode==8.2
reportlab==5.0.0
setuptools==83.0.0
shiboken6==6.11.1
six==1.17.0
SQLAlchemy==2.0.51
sqlparse==0.5.5
typing_extensions==4.16.0
tzdata==2026.2
